body {
  background-color: #f4f6f6;
  color: #000;
  font-size: 16px;
  line-height: 1.6em;
  margin:10px;
  padding: 10px;

}

.Resume {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  margin: 25px;
  padding: 20px;

}

.AboutMe {
  background: #ffffff;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  color: black;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  grid-area: 1 / 1 / 2 / 4;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;

}

.Top-Card {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 150px;
  position: relative;

}

.Top-Card1 {
  background-color: #000000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 150px;
  position: relative;
}

.Top-Card2 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 250px;
  position: relative;
}

.Bottom-Card {
  padding: 10px;

}

.Bottom-Card1 {
  text-align: left;
  background-color: #ffffff;

}

.profile-pic {
  border-radius: 50%;
  border: 2px solid #000000;
  display: block;
  height: 100px;
  margin: 0 auto;
  position: relative;
  top: 55px;
  width: 100px;

}

.Education {
  background: #ffffff;
  background-size: contain;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  font-family: "Arial", serif;
  font-size: 16px;
  grid-area: 2 / 1 / 2 / 4;
  position: relative;
  text-align: justify;

}

.Experience {
  background: #ffffff;
  background-size: contain;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  font-family: "Arial", serif;
  font-size: 16px;
  grid-area: 3 / 1 / 3 / 4;
  overflow: hidden;
  position: relative;
  text-align: justify;

}

.ContactInformation {
  background: #ffffff;
  background-size: contain;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  font-family: "Arial", serif;
  font-size: 16px;
  grid-area: 4/ 1 / 4 / 4;
  position: relative;
  text-align: justify;

}
.Social-Profiles {
  background: #ffffff;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  grid-area: 2 / 3 / 3 / 3;

}

.Icons {
  background: #ffffff;
  display: grid;

}

 .EVJr {
   background-color: #fff;
   border: .5px solid#000;
   box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
   color: #fff;
   display: inline-block;
   padding: 2px 5px;
   text-align: center;
}


a:link, a:visited {
  color: #000;
  display: inline-grid;
  padding: 1px 2px;
  text-align: left;
  text-decoration: none;
}

a:hover, a:active {
  background-color: yellow;
}

#more {
  display: none;

}

#myBtn {
  background: #000000;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  color: #ffffff;

}

.navbar {
  background-color: #000;
  color: white;
  margin: 25px;
  padding: 20px;

}

.navbar ul {
  padding: 0;
  list-style-type: none;
  text-align: right;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: #fefeff;
  font-size: 18px;
  padding-right: 15px;
  text-decoration: none;
}

h1 {
  color: #000000;
  font-size: 40px;
  text-align: center;
  text-shadow: 10px;

}

.Card-Header {
  font-family: 'Calibri', sans-serif;
  font-size: 26px;
  text-align: center;
  text-shadow: 1px 1px #000000;

}

#main-footer {
  text-align: center;
}
@media only screen and (min-width:601px) and (max-width:992px) {
  /* tablet size rules */
  body{
    background-color: #ffffff;
  }
}
@media only screen and (min-width:50px) and (max-width:600px) {
  /* mobile size rules */
  .Resume{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .AboutMe{
      grid-area: initial;
    }
    .ContactInformation{
      grid-area: initial;
    }
    .Experience{
      grid-area: initial;
    }
    .Education{
      grid-area: initial;
    }
}

/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
