body{
  background-color: #f4f6f6;
  color: black;
  font-size: 16px;
  line-height: 1.6em;
  margin:10px;
  padding: 10px;

}

.Resume{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 15px;

}

.AboutMe{
  color: black;
  font-style: normal;
  font-family: "Arial" sans-serif;
  font-size: 12px;
  position: relative;
  background: #ffffff;
  border: solid;
  border-color: black;
  border-style: double;
  border-radius: 5px;
  border-spacing: 20px;
  grid-area: 1 / 3 / 2 / 4;
/*grid order start row/starting column/end row/end column*/
  box-shadow: 0 4px 8px black;
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;


}

.Top-Card{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 150px;
  position: relative;


}

.Bottom-Card{
  padding: 10px;

}

.profile-pic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #000000;
  display: block;
  margin: 0 auto;
  position: relative;
  
}

.Education{
  border: solid;
  background: #ffffff;
  border-color: black;
  border-style: double;
  border-radius: 5px;
  grid-area: 1 / 1 / 2 / 3;
  box-shadow: 0 4px 8px black;

}

.Experience{
  border: solid;
  background: #ffffff;
  border-color: black;
  border-style: double;
  border-radius: 5px;
  grid-area: 2 / 1 / 2 / 3;
  box-shadow: 0 4px 8px black;
  overflow: hidden;

}

.ContactInformation{
  border: solid;
  background: silver;
  border-color: black;
  border-style: double;

}

.navbar{
  background-color: black;
  color: white;
}

.navbar ul{
  padding: 0;
  list-style-type: none;
  text-align: right;
}

.navbar li{
  display: inline;
}

.navbar a{
  color: #fefeff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

h1{
  text-align: center;
  color: black;
  text-shadow: 10px;


}

.Card-Header{
  font-size: 26px;
  text-shadow: 5px;
  text-align: left;
  font-family: Calibri sans-serif;

}

#main-footer{
  text-align: center;
}

/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
