body{
  background-color: #f4f6f6;
  color: black;
  font-size: 16px;
  line-height: 1.6em;
  margin:10px;
  padding: 10px;

}

.Resume{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 15px;

}

.AboutMe{
  color: black;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  position: relative;
  background: #ffffff;
  grid-area: 1 / 3 / 2 / 4;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;

}

.Top-Card{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 150px;
  position: relative;

}

.Top-Card1{
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 150px;
  position: relative;
  background-color: #000000;
}

.Bottom-Card{
  padding: 10px;

}

.profile-pic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #000000;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50px;

}

.Education{
  background: #ffffff;
  grid-area: 1 / 1 / 2 / 3;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  position: relative;
  background-size: contain;

}

.Experience{
  background: #ffffff;
  grid-area: 2 / 1 / 3 / 2;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  overflow: hidden;

}

.ContactInformation{
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  background: #ffffff;
  grid-area: 2 / 2 / 3 / 3;

}
.Social-Profiles{
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);
  background: #ffffff;
  grid-area: 2 / 3 / 3 / 3;

}

#more {
  display: none;

}

#myBtn {
  background: #000000;
  color: #ffffff;
  box-shadow: -1px 7px 28px -9px rgba(0,0,0,0.32);

}

.navbar{
  background-color: black;
  color: white;
}

.navbar ul{
  padding: 0;
  list-style-type: none;
  text-align: right;
}

.navbar li{
  display: inline;
}

.navbar a{
  color: #fefeff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

h1{
  text-align: center;
  color: #000000;
  text-shadow: 10px;

}

.Card-Header{
  font-size: 26px;
  text-shadow: 1px 1px #000000;
  text-align: center;
  font-family: 'Calibri', sans-serif;

}

#main-footer{
  text-align: center;
}
@media only screen and (min-width:601px) and (max-width:992px) {
  /* tablet size rules */
  body{
    background-color: #ffffff;
  }
}
@media only screen and (min-width:50px) and (max-width:600px) {
  /* mobile size rules */
  .Resume{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .AboutMe{
      grid-area: initial;
    }
    .ContactInformation{
      grid-area: initial;
    }
    .Experience{
      grid-area: initial;
    }
    .Education{
      grid-area: initial;
    }
}

/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
